@font-face {
  font-family: "Cabin";
  src: url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
}
@font-face {
  font-family: "Oswald";
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}

//color palette
$base-color: rgb(17, 18, 18);
$primaryBlack: #22292f;
$secondaryBlack: #3d4b52;
$lightGrey: #dae1e7;
$superLightGrey: #f1f5f8;
$primaryBlue: #4386fc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentContainer {
  margin: auto;
  font-family: "Oswald", sans-serif;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $secondaryBlack;
}

h1 {
  align-items: center;
}

.navBarLinks {
  list-style-type: none; //removes bullets
  justify-content: space-between;
  display: inherit;
}

li {
  // background-color: green;
  padding: 1rem 1rem 0;
}

.customLink {
  list-style-type: none; //removes bullets
  font-size: 2rem;
  color: white;
}

.slogan,
.search-form {
  margin: auto;
}

.title {
  margin: 0;
}

.smoothie-card {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 5px 5px $lightGrey !important;
  margin: 6rem 2rem 3rem 2rem;
  border-radius: 2rem;
  background: white;
}

.card-title {
  color: $base-color;
}

.view-smoothies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.view-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (min-width: 1400px) {
  .view-smoothies {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 1400px;
    margin: 2rem 0;
    overflow-y: auto;
  }
}

.card-title {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.smoothie-img {
  width: 250px;
  height: 250px;
}

.search-bar {
  width: 80vw;
  max-width: 35rem;
  height: 2.6rem;
  border-radius: 90rem;
  border: 0.75px solid lightgray !important;
  box-shadow: 0px 0px 5px 5px $lightGrey;
  padding-left: 1rem;
}

.editModal {
  display: flex;
  flex-direction: column;
}

.editText {
  margin-bottom: 1rem;
}

.modalButtons {
  display: inherit;
  justify-content: space-between;
}
