@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap");

//color palette
$base-color: rgb(17, 18, 18);
$primaryBlack: #22292F;
$secondaryBlack: #3D4B52;
$lightGrey: #DAE1E7;
$superLightGrey: #F1F5F8;
$primaryBlue: #4386FC;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $back-color;
  color: $base-color;
}

.parentContainer {
  font-family: alarmClock;
  min-height: 100%;
  height: 100%;
}

.customLink {
  text-decoration: none !important;
  font-size: 26px;
  color: $base-color;
}
