@font-face {
  font-family: "Cabin";
  src: url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
}
@font-face {
  font-family: "Oswald";
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}

//color palette
$base-color: rgb(17, 18, 18);
$primaryBlack: #22292f;
$secondaryBlack: #3d4b52;
$lightGrey: #dae1e7;
$superLightGrey: #f1f5f8;
$primaryBlue: #4386fc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $back-color;
  color: $base-color;
}

.parentContainer {
  font-family: "Oswald", sans-serif;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.customLink {
  text-decoration: none !important;
  font-size: 26px;
  color: $base-color;
}
